$white: #fff;
$red: #ef3340;
$light-grey-1: #d5dbde;
$dark-grey: #a3abcc;
$blue: #6f7dff;

.plan__container {
	display: grid;

	grid-template-columns: repeat(10, 10vw);
	grid-template-rows: 7vh 5vh repeat(8, 10vh) 8vh;
}

.plan {
	grid-column: 4/ 7;
	grid-row: 3/ 11;

	display: grid;
	grid-template-rows: 3vh 10vh 20vh 5vh 6vh repeat(3, 10vh);
	grid-row-gap: 3vh;
	width: 90%;

	&__back {
		display: flex;
		text-transform: uppercase;
		align-items: center;
		cursor: pointer;

		&--image {
			margin-right: 1vw;
		}
	}

	&__title {
		&--main {
			font-size: 5vh;
		}
	}
	&__comment {
		padding-top: 1vh;
		font-size: 2vh;
	}

	&__subtitle {
		font-size: 2.5vh;
	}
	&__options {
		display: flex;
		font-size: 2vh;
		text-align: justify;
		text-transform: uppercase;
	}
}

.details {
	display: grid;

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 2vh repeat(3, 1fr);

	&__table {
		grid-column: 1/ 4;
		grid-row: 2/ 5;
		
		border-style: solid;
		border-color: $light-grey-1;
		border-radius: 10px;
		z-index: -3;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 3rem;
		font-size: 1.5vh;
	}

	&__placa {
		text-transform: uppercase;
		color: $dark-grey;
	}

	&__model {
		font-size: 4vh;
		padding-bottom: 2vh;
	}

	&__link {
		text-transform: uppercase;
		text-decoration: none;
		color: $blue;
	}

	&__image {
		grid-column: 3/4;
		grid-row: 1/ 5;

		background-image: url(../../images/person.png);
		background-repeat: no-repeat;
		background-position: top;
		height: 100%;
	}
}

.coverages {
	&__item {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

.right {
	grid-column: 8/ 10;
	grid-row: 5/ 9;

	display: grid;
	grid-template-rows: 6vh 1px 16vh 6vh;
	grid-row-gap: 1vh;
	width: 70%;
	font-size: 2vh;

	&__price {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&--value {
			font-size: 3vh;
		}
	}

	&__list {
		margin-top: 1.5vh;
	}

	&__title {
		list-style: none;
	}

	&__item {
		margin-top: 1.5vh;

		&--icon {
			margin-right: 1vw;
		}
	}

	&__button {
		height: 100%;
		border-radius: 10px;
		color: $white;
		background-color: $red;
		border: none;
		outline: none;
		cursor: pointer;
		text-transform: uppercase;
		margin-top: 2vh;
	}
}
